  .rec_text h4 {
    font-size: 20px;
    color: #black;
    margin-bottom: 20px;
}
.rec_text table {
    width: 30%;
    margin-left: 30%;
}
.rec_text table th {
    padding: 20px 5px;
    vertical-align: top;
    border-top: 1px solid #152036;
}
.rec_text table th {
    vertical-align: bottom;
    border-bottom: 2px solid #152036;
    color:white;
}
.rec_text th, .product-status-wrap td {
    padding: 10px;
    text-align: left;
    font-size: 14px;
}
.rec_text table td {
    padding: 9px 7px;
    border-top: 1px solid #152036;
  color:white;
  font-size:14px;
}
.modifier
{
    margin-top: -30px;
    margin-left: 30%;
}

.review-content-section .input-group input[type="text"]{
width: 60%;
border-radius: 10%;
margin-left: 10px;

}
.review-content-section .input-group input::-webkit-input-placeholder, .product-delivary .form-group input::-webkit-input-placeholder, .form-group input::-webkit-input-placeholder, .review-content-section input::-webkit-input-placeholder {
    color:#152036;
}
.review-content-section .input-group input::-moz-placeholder, .product-delivary .form-group input::-moz-placeholder, .form-group input::-moz-placeholder , .review-content-section input::-moz-placeholder {
    color:#152036;
}
.review-content-section .input-group input::-ms-placeholder, .product-delivary .form-group input::-ms-placeholder, .form-group input::-ms-placeholder , .review-content-section input::-ms-placeholder {
    color:#152036;
}
.review-content-section .input-group input::placeholder, .product-delivary .form-group input::placeholder, .form-group input::placeholder, .review-content-section input::placeholder {
    color:#152036;
}
.supprimer
{background:#152036;
  color:#fff;
  border:none;
  outline:none;
  padding: 10px 20px;
}
.sup_mod
{
  margin-top: 30px;
}
  .table1{width: 100%;max-width:100%;margin-bottom:1rem;background-color:transparent}.table1 td,.table1 th{padding:.75rem;vertical-align:top;border-top:1px solid #dee2e6}.table1 thead th{vertical-align:bottom;border-bottom:2px solid #dee2e6}.table1 tbody+tbody{border-top:2px solid #dee2e6}.table1 .table1{background-color:#fff}.table1-sm td,.table1-sm th{padding:.3rem}.table1-bordered{border:1px solid #dee2e6}.table1-bordered td,.table1-bordered th{border:1px solid #dee2e6}.table1-bordered thead td,.table1-bordered thead th{border-bottom-width:2px}.table1-borderless tbody+tbody,.table1-borderless td,.table1-borderless th,.table1-borderless thead th{border:0}.table1-striped tbody tr:nth-of-type(odd){background-color:rgba(0,0,0,.05)}.table1-hover tbody tr:hover{background-color:rgba(0,0,0,.075)}.table1-primary,.table1-primary>td,.table1-primary>th{background-color:#b8daff}.table1-hover .table1-primary:hover{background-color:#9fcdff}.table1-hover .table1-primary:hover>td,.table1-hover .table1-primary:hover>th{background-color:#9fcdff}.table1-secondary,.table1-secondary>td,.table1-secondary>th{background-color:#d6d8db}.table1-hover .table1-secondary:hover{background-color:#c8cbcf}.table-hover .table-secondary:hover>td,.table-hover .table-secondary:hover>th{background-color:#c8cbcf}.table-success,.table-success>td,.table-success>th{background-color:#c3e6cb}.table-hover .table-success:hover{background-color:#b1dfbb}.table-hover .table-success:hover>td,.table-hover .table-success:hover>th{background-color:#b1dfbb}.table-info,.table-info>td,.table-info>th{background-color:#bee5eb}.table-hover .table-info:hover{background-color:#abdde5}.table-hover .table-info:hover>td,.table-hover .table-info:hover>th{background-color:#abdde5}.table-warning,.table-warning>td,.table-warning>th{background-color:#ffeeba}.table-hover .table-warning:hover{background-color:#ffe8a1}.table-hover .table-warning:hover>td,.table-hover .table-warning:hover>th{background-color:#ffe8a1}.table-danger,.table-danger>td,.table-danger>th{background-color:#f5c6cb}.table-hover .table-danger:hover{background-color:#f1b0b7}.table-hover .table-danger:hover>td,.table-hover .table-danger:hover>th{background-color:#f1b0b7}.table-light,.table-light>td,.table-light>th{background-color:#fdfdfe}.table-hover .table-light:hover{background-color:#ececf6}.table-hover .table-light:hover>td,.table-hover .table-light:hover>th{background-color:#ececf6}.table-dark,.table-dark>td,.table-dark>th{background-color:#c6c8ca}.table-hover .table-dark:hover{background-color:#b9bbbe}.table-hover .table-dark:hover>td,.table-hover .table-dark:hover>th{background-color:#b9bbbe}.table-active,.table-active>td,.table-active>th{background-color:rgba(0,0,0,.075)}.table-hover .table-active:hover{background-color:rgba(0,0,0,.075)}.table-hover .table-active:hover>td,.table-hover .table-active:hover>th{background-color:rgba(0,0,0,.075)}.table .thead-dark th{color:#fff;background-color:#212529;border-color:#32383e}.table .thead-light th{color:#495057;background-color:#e9ecef;border-color:#dee2e6}.table-dark{color:#fff;background-color:#212529}.table-dark td,.table-dark th,.table-dark thead th{border-color:#32383e}.table-dark.table-bordered{border:0}.table-dark.table-striped tbody tr:nth-of-type(odd){background-color:rgba(255,255,255,.05)}.table-dark.table-hover tbody tr:hover{background-color:rgba(255,255,255,.075)}@media (max-width:575.98px){.table-responsive-sm{display:block;width:100%;overflow-x:auto;-webkit-overflow-scrolling:touch;-ms-overflow-style:-ms-autohiding-scrollbar}.table-responsive-sm>.table-bordered{border:0}}@media (max-width:767.98px){.table-responsive-md{display:block;width:100%;overflow-x:auto;-webkit-overflow-scrolling:touch;-ms-overflow-style:-ms-autohiding-scrollbar}.table-responsive-md>.table-bordered{border:0}}@media (max-width:991.98px){.table-responsive-lg{display:block;width:100%;overflow-x:auto;-webkit-overflow-scrolling:touch;-ms-overflow-style:-ms-autohiding-scrollbar}.table-responsive-lg>.table-bordered{border:0}}@media (max-width:1199.98px){.table-responsive-xl{display:block;width:100%;overflow-x:auto;-webkit-overflow-scrolling:touch;-ms-overflow-style:-ms-autohiding-scrollbar}.table-responsive-xl>.table-bordered{border:0}}.table-responsive{display:block;width:100%;overflow-x:auto;-webkit-overflow-scrolling:touch;-ms-overflow-style:-ms-autohiding-scrollbar}.table-responsive>.table-bordered{border:0}