  .rec_text h4 {
    font-size: 20px;
    color: #black;
    margin-bottom: 20px;
}
.rec_text table {
    width: 30%;
    margin-left: 30%;
}
.rec_text table th {
    padding: 20px 5px;
    vertical-align: top;
    border-top: 1px solid #152036;
}
.rec_text table th {
    vertical-align: bottom;
    border-bottom: 2px solid #152036;
    color:white;
}
.rec_text th, .product-status-wrap td {
    padding: 10px;
    text-align: left;
    font-size: 14px;
}
.rec_text table td {
    padding: 9px 7px;
    border-top: 1px solid #152036;
  color:white;
  font-size:14px;
}
.modifier
{
    margin-top: -30px;
    margin-left: 30%;
}

.review-content-section .input-group input[type="text"]{
width: 60%;
border-radius: 10%;
margin-left: 10px;

}
.review-content-section .input-group input::-webkit-input-placeholder, .product-delivary .form-group input::-webkit-input-placeholder, .form-group input::-webkit-input-placeholder, .review-content-section input::-webkit-input-placeholder {
    color:#152036;
}
.review-content-section .input-group input::-moz-placeholder, .product-delivary .form-group input::-moz-placeholder, .form-group input::-moz-placeholder , .review-content-section input::-moz-placeholder {
    color:#152036;
}
.review-content-section .input-group input::-ms-placeholder, .product-delivary .form-group input::-ms-placeholder, .form-group input::-ms-placeholder , .review-content-section input::-ms-placeholder {
    color:#152036;
}
.review-content-section .input-group input::placeholder, .product-delivary .form-group input::placeholder, .form-group input::placeholder, .review-content-section input::placeholder {
    color:#152036;
}
.supprimer
{background:#152036;
  color:#fff;
  border:none;
  outline:none;
  padding: 10px 20px;
}
.sup_mod
{
  margin-top: 30px;
}