  .rec_text h4 {
    font-size: 20px;
    color: #black;
    margin-bottom: 20px;
}
.rec_text table {
    width: 30%;
    margin-left: 30%;
}
.rec_text table th {
    padding: 20px 5px;
    vertical-align: top;
    border-top: 1px solid #152036;
}
.rec_text table th {
    vertical-align: bottom;
    border-bottom: 2px solid #152036;
    color:black;
}
.rec_text th, .product-status-wrap td {
    padding: 10px;
    text-align: left;
    font-size: 14px;
}
.rec_text table td {
    padding: 9px 7px;
    border-top: 1px solid #152036;
  color:black;
  font-size:14px;
}
.modifier
{
    margin-top: -30px;
    margin-left: 30%;
}
.modifier textarea
{
    border: 1px solid #dddddd;
  font-family: poppins;
  font-weight: 500;
  height: 90px;
  padding: 15px;
  resize: none;
  width: 100%;
}